@font-face {
    font-family: "Aeonik-Bold";
    src: local("Aeonik-Bold"),
    url("types/Aeonik/Aeonik-Bold.otf");
}
@font-face {
    font-family: "Aeonik-Light";
    src: local("Aeonik-Light"),
    url("types/Aeonik/Aeonik-Light.otf");
}
@font-face {
    font-family: "Aeonik-Medium";
    src: local("Aeonik-Medium"),
    url("types/Aeonik/Aeonik-Medium.otf");
}
@font-face {
    font-family: "Aeonik-Regular";
    src: local("Aeonik-Regular"),
    url("types/Aeonik/Aeonik-Regular.otf");
}


/*==========  Mobile First Method  ==========*/


@media only screen and (min-width : 320px) {
    html {
        scroll-behavior: smooth;
      }
    header {
        height: 97px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid lightgray;
        background-color: white;
    }
    header a {
        margin-top: 16px;
    }
    .iniciales {
        font-size: 22px;
        font-family: "Aeonik-Regular", sans-serif;
        text-decoration: none;
        cursor: pointer;
        color: inherit;
    }
    nav {
        margin-top: 8px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    nav a {
        font-family: "Aeonik-Light", sans-serif ;
        font-size: 16px;
        text-decoration: none;
        cursor: pointer;
        color: inherit;
    }
    h1 {
        font-size: 36px;
        text-align: center;
        margin-top: 40px;
        font-family: "Aeonik-Bold", sans-serif;
        margin-bottom: 40px;
    }

    #introduccion {
        margin: 0 16px;
        text-align: center;
        padding-bottom: 32px;
    }
    #subtitulo {
        font-size: 16px;
        font-family: "Aeonik-Light", sans-serif;
        line-height: 130%;
    }
    #subtitulo-bold {
        font-family: "Aeonik-medium", sans-serif;
      }
    #second-phrase {
        padding-top: 16px;
    }
    .verticaltext-topleft {
        display: none;
    }
    .card {
        padding-top: 32px;
    }

    img {
    width: 100%;
    }
    .cardleft-text {
        padding: 0 16px;

    }
    .titlecard {
        padding-top: 24px;
        font-size: 32px;
        font-family: "Aeonik-Regular", sans-serif;
        margin-bottom: 16px;
    }
    .pcard {
        font-size: 16px;
        font-family: "Aeonik-Light", sans-serif;
        line-height: 160%;
        
    }
    .linkcard {
        display: flex;
        font-family: "Aeonik-Medium", sans-serif;
        font-size: 14px;
        padding-top: 36px;
        text-decoration: none;
        color: #050505;
        height: 40px;
        width: 145px;
        border-bottom: solid white 2px;
    }
    .linkcard:hover{
        border-bottom: solid 2px;
    }
    .reverse {
        display: flex;
        flex-direction: column-reverse;
    }
    .verticaltext-topright {
        display: none;
    }
    .cardright-text {
        padding: 0 16px;
    }
    .arrow {
        width: 0;
        height: 0;
        border: 7px solid transparent;
        border-top: 7px solid;
        border-right: 7px solid;
        margin-left: 15px;
        transform: rotate(45deg);
    }
    footer {
        padding: 110px 16px 140px 16px
    }
    footer h2 {
        font-family: "Aeonik-Medium", sans-serif;
        font-size: 22px;
        padding-bottom:8px;
    }

    footer p {
        font-family: "Aeonik-Light", sans-serif;
        font-size: 16px;
        padding: 0 10%;
        line-height: 140%;
    }
    .social-links {
        display: flex;
        padding-top: 32px;
        justify-content: space-around;
    }
    .lets-connect {
        margin: 0 auto;
        text-align: center;
    }
    .icon-text {
        display: none;
    }
    .icon-mail {
        width: 40px;
    }
    .icon-linkedin {
        width: 38px;
    }
    .icon-medium {
        width: 40px;
    }
    .icon-dribble {
        width: 34px;
    }
}


/* ----------------TABLET VERTICAL 640px--------------- */

@media only screen and (min-width : 640px) {
    header {
        height: 85px;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        /*background-color: lightcyan;*/
        border-bottom: 1px solid transparent;
    }
    .iniciales {
        margin-top: 0;
        min-width: 180px;
        margin-left: 24px;
    }
    nav {
        margin-top: 0;
        justify-content: flex-end;
        width: 60%;
    }
    nav a {
        margin: 0 25px 0 25px
    }
    h1 {
        font-size: 56px;
    }
    #subtitulo {
        font-size: 18px;
    }
    .card {
        padding: 104px 40px 0 40px;
        display: flex;
        justify-content: space-between;
    }
    .cardleft-image img {
        max-width: 75vw;
    }
    .cardleft-text {
        max-width: 25vw;
    }
    .cardleft-text {
        padding: 0 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .reverse {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .cardright-text {
        max-width: 35vw;
    }
    .cardright-image img {
        max-width: 65vw;
    }
    .icon-text {
        display: block;
    }
    .social-links a {
        font-family: "Aeonik-Regular", sans-serif;
        font-size: 14px;
        color: #050505;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .icon-mail {
        width: 48px;
    }
    .icon-linkedin {
        width: 46px;
    }
    .icon-medium {
        width: 48px;
    }
    .icon-dribble {
        width: 42px;
    }

    footer {
        padding: 104px 16px 40px 16px
    }

    .social-links {
        padding-top: 48px;
        max-width: 750px;
        margin: 0 auto;
    }
}


/* ----------------TABLET HORIZONTAL 1024px--------------- */

@media only screen and (min-width : 1024px) {
    nav a {
        font-size: 18px;
    }
    
    header {
        /*background-color: lightyellow;*/
        max-width: 1440px;
        position: fixed;
        z-index: 2;
        left: 50%;
        transform: translate(-50%, 0);
    }
    main {
        margin: 0 auto;
        max-width: 1280px;
        padding: 45px 0;
    }

    .iniciales {
        margin-left: 0;
    }
    nav {
        width: 60%;
        margin-right: 0;
        justify-content:flex-end
    }
    nav a {
        margin: 0 25px 0 25px
    }

    h1 {
        font-size: 64px;
        margin-top: 104px;
    }
    #subtitulo {
        font-size: 22px;
    }

    .card {
        padding: 104px 104px 0 104px;
    }

    .titlecard {
        font-size: 44px;
    }
    .pcard {
        font-size: 20px;
    }
    .linkcard {
        font-size: 16px;
    }

    .cardleft-text {
        padding:  0 0 0 48px;
    }
    .cardright-text {
        padding: 0 20px 0 30px;
    }
    .cardleft-image {
        display: flex;
        justify-content: space-between;
        padding-right: 48px;
    }
    .cardright-image {
        display: flex;
        justify-content: space-between;
        padding-left: 40px;
    }

    .verticaltext-topleft {
        display: block;
        font-family: "Aeonik-Regular", sans-serif;
        font-size: 18px;
        writing-mode: vertical-lr;
        padding-right: 16px;
    }
    .verticaltext-topright {
        display: block;
        font-family: "Aeonik-Regular", sans-serif;
        font-size: 18px;
        writing-mode: vertical-lr;
        padding-left: 16px;
    }

    .footer h2{
        font-size: 32px;
    }
    footer p{
        font-size: 22px;
    }
    .lets-connect{
        padding-bottom: 40px;
    }
}


/* ----------------DESKTOP 1440px--------------- */


@media only screen and (min-width : 1440px) {
    .card {
        padding: 144px 144px 0 144px;
    }
    
}



/* ------------------ABOUT HTML----------------- */


@media only screen and (min-width : 320px) {
    .selected{
        border-bottom: 1px solid;
        height: 18px;
    }
    .me-image img {
        max-width: 340px;
        margin: 0 auto;
        display: flex;
        margin-top: 32px
    }
    .me-text {
        padding: 16px 16px 24px 16px;
    }
    .me-text h1 {
        font-family: "Aeonik-Bold", sans-serif;
        font-size: 25px;
    }
    .me-text p {
        font-family: "Aeonik-Light", sans-serif;
        font-size: 16px;
        line-height: 150%;
        margin-bottom: 16px;
    }
    .verticaltext-topleft {
        display: none;
    }
    .education {
        padding-top: 40px;
    }
    .education h2 {
        padding-bottom: 24px;
        font-family: "Aeonik-Regular", sans-serif;
        font-size: 32px;
    }
    .education-item {
        padding-bottom: 24px;
    }
    .education-item h3 {
        font-family: "Aeonik-Medium", sans-serif;
        font-size: 18px;
    }
    .education-item .subheader {
        font-family: "Aeonik-Regular", sans-serif;
        font-size: 16px;
        padding: 4px 0;
    }
    .education-item p {
        font-family: "Aeonik-Light", sans-serif;
        font-size: 14px;
    }
    .education ul {
        list-style-type: disc;
        padding-left: 16px;
    }
    #selflearn {
        font-family: "Aeonik-Light", sans-serif;
        font-size: 14px;
    }

    .skills h2 {
        padding-top: 32px;
        padding-bottom: 24px;
        font-family: "Aeonik-Regular", sans-serif;
        font-size: 32px;
    }
    .skills ul li {
        font-family: "Aeonik-Regular", sans-serif;
        font-size: 16px;
        padding: 4px 0;
        margin: 0 8px;

    }
    .skills ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .tools-section {
        background-color: #fafafa;
        padding: 0 16px 40px 16px;
    }

    .bio-section {
        background-color: #fafafa;
        padding: 0 16px;
    }

    .tools-section h2 {
        padding-top: 32px;
        padding-bottom: 24px;
        font-family: "Aeonik-Regular", sans-serif;
        font-size: 32px;
    }
    .tools-section .skill-set {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .tools-section .skill-set span {
        font-family: "Aeonik-Regular", sans-serif;
        font-size: 16px;
        margin: 0 8px;
        padding: 4px 0;
    }
}


/* ----------------TABLET VERTICAL 640px--------------- */

@media only screen and (min-width : 640px) {
    
    .me-text {
        padding: 16px 40px 24px 40px;
    }
    .me-image img {
        max-width: 340px;
        margin: 0 auto;
        margin-top: 32px
    }
    .bio-section {
        display: flex;
        justify-content: space-around;
        align-content: center;
    }

    .bio-section .skills ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        flex-direction: column;
    }
    .bio-section .skills ul li {
        margin-bottom: 8px;
    }

    .tools-section {
        text-align: center;
        padding: 0 40px 40px 40px;
    }

    .tools-section .skill-set {
        justify-content: center;
        max-width: 640px;
    }
   

}


/* ----------------TABLET HORIZONTAL 1024px--------------- */

@media only screen and (min-width : 1024px) {
    .about-me {
        padding: 64px 104px 64px 104px;
        display: flex;
    }
    .me-text {
        padding: 0 0 0 40px;
    }
    .me-text h1 {
        margin: 0 0 32px 0;
        text-align: left;
        font-size: 34px;
    }
    .me-text p {
        font-size: 18px;
    }
    .me-image {
        display: flex;
        padding-right: 40px;
    }
    .me-image img {
        margin: 0;
        max-height: 400px;
        max-width: 370px;
        width: 35vw;
    }

    .verticaltext-topleft {
        display: block;
        font-family: "Aeonik-Regular", sans-serif;
        font-size: 18px;
        writing-mode: vertical-lr;
        padding-right: 16px;
    }
    .tools-section .skill-set {
        max-width: 900px;
    }
    .tools-section .skill-set span {
        font-size: 22px;
    }
    .education h2 {
        font-size: 40px;
    }
    .education-item h3 {
        font-size: 24px;
    }
    .education-item .subheader {
        font-size: 22px;
    }
    .education-item p {
        font-size: 16px;
    }
    #selflearn {
        font-family: "Aeonik-Light", sans-serif;
        font-size: 18px;
    }
    .skills h2 {
        font-size: 40px;
    }
    .skills ul li {
        font-size: 22px;
    }

    .tools-section h2 {
        font-size: 40px;
    }
    .skill-set span {
        font-size: 22px;
    }
}


/* ----------------DESKTOP 1440px--------------- */

@media only screen and (min-width : 1440px) {
    .about-me {
        padding: 64px 144px 64px 144px;
    }
    .me-image img {
        margin: 0;
        max-height: 500px;
        max-width: 470px;
        width: 50vw;
    }
    
}