@font-face {
  font-family: "OpenSans-Bold";
  src: local("OpenSans-Bold"), url("/types/Open_Sans/OpenSans-Bold.ttf");
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: local("Montserrat-SemiBold"),
    url("/types/Montserrat/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: local("Montserrat-Medium"),
    url("/types/Montserrat/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: local("Montserrat-Regular"),
    url("/types/Montserrat/Montserrat-Regular.ttf");
}

/* ---------HEADER-------- */

header {
  /* position: fixed; */
  width: 100vw;
  /* background-color: #fdfdfd; */
}
header div {
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 18px;
  width: 85vw;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 30px;
}
header a {
  text-decoration: none;
  color: #050505;
}
nav {
  display: flex;
}
nav a {
  margin-right: 48px;
}
.iniciales {
  font-size: 20px;
  font-weight: 600;
}


header nav a {
  border-bottom: solid white 3px;
}
header nav a:hover {
  border-bottom: solid 3px;
}
header nav .selected {
  border-bottom: solid 3px;
}


/* ---------MAIN-------- */

main {
  width: 100vw;
  max-width: 1280px;
  margin: 0 auto;
}

/* ---------INTRODUCTION-------- */

#introduccion {
  width: 630px;
  margin: 0 auto;
  text-align: center;
  padding-top: 120px;
  margin-bottom: 220px;
}
#home{
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 48px;
  color: #050505;
}
#subtitulo {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 22px;
  line-height: 120%;
  padding-top: 42px;
  color: #050505;
}
#second-phrase {
  padding-top: 24px;
}
#subtitulo-bold {
  font-family: "Montserrat-SemiBold", sans-serif;
}

/* ---------ALL-CARDS-------- */

.card {
  /* width: 100vw;
  max-width: 1280px;
  margin: 0 auto; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 128px;
}
.titlecard {
    font-family: "Montserrat-Medium", sans-serif;
    font-size: 40px;
    padding-top: 200px;
    padding-bottom: 56px;
}
.pcard {
  font-family: "Montserrat-Regular", sans-serif;
  line-height: 200%;
  font-size: 16px;
}
.linkcard {
  display: flex;
  font-family: "Montserrat-Semibold", sans-serif;
  font-size: 16px;
  padding-top: 36px;
  text-decoration: none;
  color: #050505;
  height: 40px;
  width: 145px;
  border-bottom: solid white 2px;
}
.linkcard:hover{
  border-bottom: solid 2px;
}

.arrow{
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-top: 7px solid;
  border-right: 7px solid;
  margin-left: 15px;
  transform: rotate(45deg)
}



/* ---------CARD-RIGHT-------- */

.cardright {
  display: flex;
  flex-direction: column;
  padding-left: 120px;
  width: 350px;
}
.cardright-image {
  display: flex;
  justify-content: space-between;
  padding-right: 64px;
}
.verticaltext-topright {
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 18px;
  writing-mode: vertical-lr;
  padding-left: 20px;
}

/* ---------CARD-LEFT-------- */

.cardleft {
  display: flex;
  flex-direction: column;
  padding-right: 110px;
  padding-left: 115px;
  width: 300px;
}
.cardleft-image {
  display: flex;
  justify-content: space-between;
  padding-left: 75px;
}
.verticaltext-topleft {
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 18px;
  writing-mode: vertical-lr;
  padding-right: 20px;
}

/* ---------FOOTER-------- */

footer {
    width: 100vw;
    height: 280px;
}

.lets-connect {
    width: 100vw;
    margin: 0 auto;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 60px;
}
footer h2{
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 24px;
    padding-bottom: 10px;
}
footer p{
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 18px;
}
.social-links {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    max-width: 850px;
    margin: 0 auto;
}
.social-links a {
  font-family: "Montserrat-Semibold", sans-serif;
  font-size: 14px;
  color: #050505;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}



/* --------- ABOUT PAGE -------- */




.about-me {
  display: flex;
  justify-content: space-between;
  padding-top: 90px;
  margin-bottom: 128px;
}
.me-image{
  display: flex;
  justify-content: space-between;
  padding-left: 75px;
}
.me-text{
  padding-right: 110px;
  padding-left: 95px;
  margin-top: 16px;
  width: 600px;
  line-height: 150%;
}

#about{
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 32px;
  color: #050505;
  padding-bottom: 32px;
}
#cv {
  margin: 70px 0 0 0px;
  font-family: "Montserrat-Semibold", sans-serif;
  font-size: 18px;
  align-items: flex-end;
  text-decoration: none;
  color: #050505;
}

.about-me .me-text p {
  font-family: "Montserrat-Regular";
  font-size: 17px;
  padding-bottom: 20px;
}

/* --------- BIO SECTION -------- */

/* --------- EDUCATION -------- */

.bio-section {
  padding-top: 80px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  background-color: #fafafa;
}

.bio-section h2 {
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 40px;
}

.education ul {
  list-style-type:disc;
  padding-left: 22px;
}

.education-item {
  margin-bottom: 30px;
}

.education-item h3 {
  font-family: "Montserrat-Semibold", sans-serif;
  font-size: 24px;
}

.education-item .subheader {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 22px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.education-item p {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
}

#selflearn{
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 18px;
}

/* --------- SKILLS -------- */

.bio-section .skills {
  width: 250px;
  padding-right: 50px;
}

.bio-section div h2 {
  margin-bottom: 40px;
}

.bio-section .skills ul {
  padding-left: 12px;
}

.bio-section .skills ul li {
  margin-bottom: 10px;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 22px;
  padding-bottom: 4px;
}


/* --------- TOOLS -------- */

.tools-section {
  background-color: #fafafa;
  padding-top: 50px;
  padding-bottom: 80px;
  margin-bottom: 128px;
}

.tools-section h2 {
  text-align: center;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 40px;
  margin-bottom: 25px;
}

.skill-set {
  max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.skill-set span {
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 22px;
    margin-right: 25px;
    margin-bottom: 15px;
}

/* --------- EXPERIENCE -------- */


.previous-experience h2 {
  text-align: center;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 22px;
  margin-bottom: 40px;
  color: darkgray;
}

hr {
  margin-top: 60px;
  margin-bottom: 60px;
  width: 1000px;
}
